<%-include("includes/head.ejs");%>
</head>
<body>
    <div class="createbox">
        <h1>Create your Blog</h1>
        <form method="post" action="/create/<%=user.id%>">
            <input type="text" name="bloghead" placeholder="Enter Heading"><br><br>
            <textarea name="blogcon" cols="30" rows="10" placeholder="Enter Blog data"></textarea>
            <br><br>
            <button>Publish</button>
        </form>
    </div>
</body>
</html>