<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogApp</title>
    <style>
        body{text-align: center;background-color:#cfffff;}
        .createbox{
            margin-top: 50px;
        }
        .createbox h1{
            padding:20px 0 20px 0;
        }
        input,textarea{
        width: 80%;
        line-height: 30px;
        margin: 5px 35px;
        text-align:center;
        font-size: 17px;
        }
        button{
            background-color:#3e6969;
            color: white;
            cursor: pointer;
            border-radius: 5px;
            padding: 8px 30px;
            font-size: 17px;}
    </style>
</head>
<body>
    <div class="createbox">
        <h1>Create your Blog</h1>
        <form method="post" action="/create/<%=user.id%>">
            <input type="text" name="bloghead" placeholder="Enter Heading"><br><br>
            <textarea name="blogcon" cols="30" rows="10" placeholder="Enter Blog data"></textarea>
            <br><br>
            <button>Publish</button>
        </form>
    </div>
</body>
</html>