<%-include("includes/head.ejs");%>
    </style>
</head>
<body>
    <div class="showblog">
        <h1><%=postuser.heading%></h1>
        <p><%=postuser.content%></p>
        <form method="post" action="/delete/<%=postuser.id%>?_method=DELETE">
            <button class="delbtn">Confirm Delete</button>
        </form>
</div>
</body>
</html>