<%-include("includes/head.ejs");%>
</head>
<body>
    <form  class="signbox" method="post" action="/signin/<%=key%>/<%=id%>">
        <h2>Login</h2>
        <input type="email" name="email" placeholder="Enter email" required>
        <input type="password" name="password" placeholder="Enter password" required>
        <button class="signbtn">Login</button><br><br>
        <p>Don't have an account? <a href="/register">SignUp</a></p>
    </form>
</body>
</html>