<%-include("includes/head.ejs");%>
</head>
<body>
    <div class="createbox">
        <h1>Edit your blog</h1>
        <form method="post" action="/edit/<%=postuser.id%>?_method=PATCH">
            <textarea name="head"><%=postuser.heading%></textarea><br><br>
            <textarea name="cont" cols="30" rows="10"><%=postuser.content%></textarea><br><br>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>